	<h1 class="text-amber-600">Hello, Astro!</h1>
	<p class="font-bold">Welcome to your new Astro site. You're all set up and ready to go. You can start editing this file at <code>src/pages/index.astro</code>.</p>
	<p class="text-red-600 text-xl">Need help? Check out the <a href="https://docs.astro.build">Astro documentation</a>.</p>